@tailwind components;
@layer components {
  .card {
    @apply max-w-xs relative flex flex-col;
    @apply rounded-md;
    @apply cursor-default;
    .card__info {
      @apply p-2;
      h3 {
        @apply text-3xl font-bold;
      }
    }
    .card__gallery {
      @apply overflow-hidden rounded-md cursor-pointer shadow-lg;
    }
    a[role="button"] {
      @apply flex justify-center mt-5 p-1 w-full 
        rounded-md outline outline-primary-dark 
        hover:bg-primary-dark hover:text-black 
        hover:shadow-md decoration-0
        focus:bg-primary-dark focus:text-black;
    }
  }

  .card__fs_gallery_image {
    height: 100svh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
