@import "the-new-css-reset/css/reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-light: #07004d;
    --secondary-light: #1a4182;
    --tertiary-light: #eb8a90;
    --primary-dark: #42e2b8;
    --secondary-dark: #f3dfbf;
    --tertiary-dark: #eb8a90;
  }

  html {
    font-size: 18px;
  }

  body {
    @apply bg-white text-gray-900 dark:bg-gray-800 dark:text-white;
    @apply min-h-screen leading-8;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-stone-700 dark:text-stone-200
    m-0 mb-2
    font-bold;
  }

  h1 {
    @apply font-script text-6xl mb-7;
  }
  h2 {
    @apply font-normal text-2xl;
  }
  h3 {
    @apply font-script font-bold text-4xl py-2;
  }
  h4 {
    @apply font-bold text-xl pt-4;
  }

  strong {
    @apply font-bold;
  }

  a {
    @apply items-center 
      text-black dark:text-white;
    &:not([role="button"]):hover {
      @apply underline 
        decoration-teal-600 dark:decoration-teal-400 
        decoration-2;
    }
  }

  a[target="_blank"] {
    &:after {
      @apply content-["\2197"] inline-block
        text-primary-dark text-[0.7rem] leading-3 
        font-bold font-karla no-underline
        outline outline-2 outline-primary-dark 
        rounded-[0.175rem] px-[0.15rem] ml-1;
    }
  }

  [align="center"] {
    margin-left: auto;
    margin-right: auto;
  }

  dialog:modal {
    max-height: 100svh;
    max-width: 100svw;
    margin: auto;
  }
}
