.form {
  @apply flex flex-col gap-4;

  & > div {
    @apply flex flex-row gap-4 flex-wrap;
  }
}

.container {
  @apply relative transition-all duration-150
      w-full flex items-center
      bg-transparent 
      border-2 rounded-lg
      outline-none
      disabled:opacity-40 disabled:cursor-not-allowed;
  @apply placeholder-[primary-light] 
      focus-within:border-[primary-light] 
      focus-visible:border-[primary-light] 
      text-black 
      border-black/50;
}

.error {
  @apply border-tertiary-dark;
}

.input {
  @apply relative transition-all duration-150
      w-full py-2.5 pl-4 pr-14 
      bg-transparent 
      outline-none
      disabled:opacity-40 disabled:cursor-not-allowed;
  @apply text-black 
      placeholder-black;
}

.form > span > .container > div {
  &:last-child > div {
    &:first-child {
      /* Remove popover arrow */
      @apply hidden;
    }
    &:last-child > div {
      @apply text-base max-md:text-sm;
      &:first-child button[disabled] {
        /* overide disabled date style */
        @apply rounded-full text-tertiary-dark bg-gray-500/20;
      }
    }
  }
}
